@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
}

.header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position-y: bottom;
  height: 80rem;
  padding-top: 3.4rem;
  padding-left: 4rem;
  padding-right: 4.8rem;
}
.header .nav {
  height: 5.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 10.5rem;
}
.header .nav__list {
  margin-left: auto;
  list-style-type: none;
  width: 28.2rem;
  display: flex;
  justify-content: space-between;
}
.header .nav__item {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.13px;
}
.header .nav__link {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.header .nav__btn {
  text-decoration: none;
  background: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 27%, 19%);
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  margin-left: 4.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 14rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}
.header__heading {
  color: hsl(0deg, 0%, 100%);
  font-size: 5.6rem;
  font-weight: 900;
  letter-spacing: 0.875rem;
  line-height: 6.9rem;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8rem;
}
.header__img {
  display: flex;
  justify-content: center;
}
.header__img img {
  width: 3rem;
  height: 10.7rem;
}

.transform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.transform .box {
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.transform .box__center {
  width: 44.5rem;
}
.transform .box__center__header {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.932rem;
  color: hsl(212deg, 27%, 19%);
  margin-bottom: 3.2rem;
  letter-spacing: -0.29px;
}
.transform .box__center__info {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: hsl(232deg, 10%, 55%);
  letter-spacing: -0.13px;
  margin-bottom: 4rem;
}
.transform .box__center__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.transform .box__bottom {
  width: 33.9rem;
  height: 14.3rem;
  text-align: center;
}
.transform .box__bottom__header {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 3.452rem;
  margin-bottom: 3.2rem;
  letter-spacing: -0.2px;
}
.transform .box__bottom__info {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: -0.11px;
}
.transform .box--1, .transform .box--4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.transform .box--1 .box__center__link {
  text-decoration-color: hsl(51deg, 100%, 49%);
}
.transform .box--4 .box__center__link {
  text-decoration-color: hsl(7deg, 99%, 70%);
}
.transform .box--5, .transform .box--6 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5.9rem;
}
.transform .box--2 {
  background-image: url(../images/desktop/image-transform.jpg);
}
.transform .box--3 {
  background-image: url(../images/desktop/image-stand-out.jpg);
}
.transform .box--5 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}
.transform .box--5 .box__bottom__header {
  color: hsl(167deg, 40%, 24%);
}
.transform .box--5 .box__bottom__info {
  color: hsl(168deg, 34%, 41%);
}
.transform .box--6 {
  background-image: url(../images/desktop/image-photography.jpg);
}
.transform .box--6 .box__bottom__header {
  color: #052C3B;
  opacity: 0.75;
}
.transform .box--6 .box__bottom__info {
  color: hsl(198deg, 62%, 26%);
}

.testimonials {
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
}
.testimonials__heading {
  color: hsl(210deg, 4%, 67%);
  font-weight: 900;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2.466rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 8.1rem;
  text-transform: uppercase;
}
.testimonials .wrapper {
  width: 111rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
.testimonials .testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.testimonials .testimonial__avatar {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  align-self: center;
}
.testimonials .testimonial__info {
  margin: 5.8rem 0 6.9rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.13px;
  color: hsl(213deg, 9%, 39%);
}
.testimonials .testimonial__profile {
  display: flex;
  flex-direction: column;
}
.testimonials .testimonial__name {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.219rem;
  letter-spacing: -0.13px;
}
.testimonials .testimonial__position {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.1px;
  color: hsl(210deg, 4%, 67%);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gallery .square {
  height: 44.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .square--1 {
  background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
}
.gallery .square--2 {
  background-image: url(../images/desktop/image-gallery-orange.jpg);
}
.gallery .square--3 {
  background-image: url(../images/desktop/image-gallery-cone.jpg);
}
.gallery .square--4 {
  background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
}
