@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
}

.header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position-y: bottom;
  height: 80rem;
  padding-top: 3.4rem;
}
.header__logo {
  width: 17rem;
  height: 3.3rem;
}
.header .nav {
  height: 5.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 10.5rem;
  padding-left: 4rem;
  padding-right: 4.8rem;
}
.header .nav__list {
  margin-left: auto;
  list-style-type: none;
  width: 28.2rem;
  display: flex;
  justify-content: space-between;
}
.header .nav__item {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.13px;
}
.header .nav__link {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.header .nav__btn {
  text-decoration: none;
  background: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 27%, 19%);
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  margin-left: 4.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 14rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
}
.header .nav__btn:hover {
  color: hsl(0deg, 0%, 100%);
  background: hsl(195deg, 54%, 64%);
}
.header .nav__hamburger {
  display: none;
}
.header .nav__check {
  display: none;
}
.header .nav__mobile {
  display: none;
}
.header__heading {
  color: hsl(0deg, 0%, 100%);
  font-size: 5.6rem;
  font-weight: 900;
  letter-spacing: 0.875rem;
  line-height: 6.905rem;
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8rem;
}
.header__img {
  display: flex;
  justify-content: center;
}

.transform {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 376px) {
  .transform {
    grid-template-columns: 1fr;
  }
}
.transform .box {
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.transform .box__center {
  width: 44.5rem;
}
.transform .box__center__header {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.932rem;
  color: hsl(212deg, 27%, 19%);
  margin-bottom: 3.2rem;
  letter-spacing: -0.29px;
}
.transform .box__center__info {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: hsl(232deg, 10%, 55%);
  letter-spacing: -0.13px;
  margin-bottom: 4rem;
}
.transform .box__center__link {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.transform .box__center__link::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  bottom: -0.2rem;
  left: 0;
  z-index: -1;
  opacity: 0.25;
  transition: opacity 0.25s ease-in;
}
.transform .box__center__link:hover::after {
  opacity: 1;
}
.transform .box__bottom {
  width: 33.9rem;
  height: 14.3rem;
  text-align: center;
}
.transform .box__bottom__header {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 3.452rem;
  margin-bottom: 3.2rem;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}
.transform .box__bottom__info {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: -0.11px;
}
.transform .box--1 {
  padding-top: 15.8rem;
  padding-left: 16.5rem;
}
.transform .box--1 .box__center__link::after {
  background: hsl(51deg, 100%, 49%);
}
.transform .box--4 {
  padding-top: 15.7rem;
  padding-left: 11rem;
}
.transform .box--4 .box__center__link::after {
  background: hsl(7deg, 99%, 70%);
}
.transform .box--5, .transform .box--6 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5.9rem;
}
.transform .box--2 {
  background-image: url(../images/desktop/image-transform.jpg);
}
.transform .box--3 {
  background-image: url(../images/desktop/image-stand-out.jpg);
}
.transform .box--5 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
}
.transform .box--5 .box__bottom__header {
  color: hsl(167deg, 40%, 24%);
}
.transform .box--5 .box__bottom__info {
  color: hsl(167deg, 40%, 24%);
}
.transform .box--6 {
  background-image: url(../images/desktop/image-photography.jpg);
}
.transform .box--6 .box__bottom__header {
  color: #052C3B;
  opacity: 0.75;
}
.transform .box--6 .box__bottom__info {
  color: hsl(198deg, 62%, 26%);
}

.testimonials {
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
}
.testimonials__heading {
  color: hsl(210deg, 4%, 67%);
  font-weight: 900;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2.466rem;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 8.1rem;
  text-transform: uppercase;
}
.testimonials .wrapper {
  width: 111rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
@media screen and (max-width: 376px) {
  .testimonials .wrapper {
    grid-template-columns: 1fr;
  }
}
.testimonials .testimonial {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.testimonials .testimonial__avatar {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  align-self: center;
}
.testimonials .testimonial__info {
  margin: 5.8rem 0 7rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: -0.13px;
  color: hsl(213deg, 9%, 39%);
}
.testimonials .testimonial__profile {
  display: flex;
  flex-direction: column;
}
.testimonials .testimonial__name {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.219rem;
  letter-spacing: -0.13px;
  margin-bottom: 1rem;
}
.testimonials .testimonial__position {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.1px;
  color: hsl(210deg, 4%, 67%);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 376px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery .square {
  height: 44.7rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .square--1 {
  background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
}
.gallery .square--2 {
  background-image: url(../images/desktop/image-gallery-orange.jpg);
}
.gallery .square--3 {
  background-image: url(../images/desktop/image-gallery-cone.jpg);
}
.gallery .square--4 {
  background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
}

.footer {
  height: 35rem;
  background-color: hsl(168deg, 44%, 70%);
  padding-top: 7.2rem;
}
.footer .wrapper {
  width: 30rem;
  height: 20.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__list--social {
  width: 16.4rem;
}
.footer__item {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.13px;
  line-height: 2.5rem;
}
.footer__link {
  text-decoration: none;
  color: hsl(168deg, 34%, 41%);
}
.footer__link .img {
  height: 2rem;
}
.footer__link .img--white {
  display: none;
}
.footer__link:hover {
  color: hsl(0deg, 0%, 100%);
}
.footer__link:hover .img--white {
  display: block;
}
.footer__link:hover .img--green {
  display: none;
}

@media screen and (max-width: 376px) {
  .header {
    background-image: url("../images/mobile/image-header.jpg");
    height: 53.8rem;
    padding-top: 3.2rem;
  }
  .header__logo {
    width: 12.36rem;
    height: 2.4rem;
  }
  .header .nav {
    height: 2.4rem;
    margin-bottom: 8.8rem;
    position: relative;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .header .nav__list {
    display: none;
  }
  .header .nav__btn {
    display: none;
  }
  .header .nav__hamburger {
    display: block;
    margin-left: auto;
    cursor: pointer;
  }
  .header .nav__hamburger img {
    height: 2.4rem;
    width: 2.4rem;
  }
  .header .nav__check:checked + .nav__mobile {
    display: flex;
  }
  .header .nav__mobile {
    height: 30.5rem;
    width: 32.9rem;
    margin: 0 auto;
    background: hsl(0deg, 0%, 100%);
    position: absolute;
    top: 10.7rem;
    padding: 3.8rem 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header .nav__mobile .pointer {
    position: absolute;
    top: -2.5rem;
    right: 0;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid hsl(0deg, 0%, 100%);
    border-bottom: 2.5rem solid transparent;
    border-top: 2.5rem solid transparent;
  }
  .header .nav__mobile__link {
    text-decoration: none;
    color: hsl(232deg, 10%, 55%);
    font-family: "Barlow", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.14px;
    line-height: 2.5rem;
  }
  .header .nav__mobile__link--btn {
    background: hsl(51deg, 100%, 49%);
    color: hsl(212deg, 27%, 19%);
    border-radius: 3rem;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-size: 1.5rem;
    font-weight: 700;
    width: 14rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.5rem;
    letter-spacing: -0.11px;
  }
  .header__heading {
    font-size: 4rem;
    letter-spacing: 0.625rem;
    line-height: 4.932rem;
    margin-bottom: 5.2rem;
  }

  .transform .box {
    height: auto;
  }
  .transform .box__center {
    width: 100%;
    text-align: center;
    height: 30.9rem;
  }
  .transform .box__center__header {
    font-size: 3.2rem;
    line-height: 3.946rem;
    margin-bottom: 2.4rem;
    letter-spacing: -0.23px;
  }
  .transform .box__center__info {
    margin-bottom: 3.2rem;
  }
  .transform .box__bottom {
    width: 32.7rem;
  }
  .transform .box__bottom__header {
    margin-bottom: 2.7rem;
  }
  .transform .box--1, .transform .box--4 {
    padding: 6.4rem 2.4rem;
  }
  .transform .box--5, .transform .box--6 {
    height: 60rem;
  }
  .transform .box--2 {
    height: 31.2rem;
    background-image: url(../images/mobile/image-transform.jpg);
    grid-row: 1/2;
  }
  .transform .box--3 {
    height: 31.2rem;
    background-image: url(../images/mobile/image-stand-out.jpg);
  }
  .transform .box--5 {
    background-image: url(../images/mobile/image-graphic-design.jpg);
  }
  .transform .box--6 {
    background-image: url(../images/mobile/image-photography.jpg);
  }

  .testimonials {
    padding: 6.4rem 2.4rem 8.6rem;
  }
  .testimonials__heading {
    font-size: 1.6rem;
    line-height: 1.973rem;
    letter-spacing: 0.4rem;
    margin-bottom: 6.4rem;
  }
  .testimonials .wrapper {
    width: auto;
    align-self: flex-start;
  }
  .testimonials .testimonial:not(:last-of-type) {
    margin-bottom: 6.4rem;
  }
  .testimonials .testimonial__info {
    margin: 3.2rem 0;
  }

  .gallery .square {
    height: 18.8rem;
  }
  .gallery .square--1 {
    background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
  }
  .gallery .square--2 {
    background-image: url(../images/mobile/image-gallery-orange.jpg);
  }
  .gallery .square--3 {
    background-image: url(../images/mobile/image-gallery-cone.jpg);
  }
  .gallery .square--4 {
    background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
  }

  .footer {
    padding-top: 6.4rem;
  }
}
