@use 'base' as b;
@use 'components';
@use 'layout' as l;


.header {
    background-image: url('../images/desktop/image-header.jpg');
    background-size: cover;
    background-position-y: bottom;
    height: 80rem;
    padding: {
        top: 3.4rem;
        left: 4rem;
        right: 4.8rem;
    }

    .nav {
        height: 5.6rem;
        display: flex;
        align-items: center;
        margin-bottom: 10.5rem;

        &__list {
            margin-left: auto;
            list-style-type: none;
            width: 28.2rem;
            display: flex;
            justify-content: space-between;
        }

        &__item {
            font-family: b.$font-barlow;
            font-size: 1.8rem;
            font-weight: b.$fw-600;
            letter-spacing: -.13px;
        }

        &__link {
            text-decoration: none;
            color: b.$white;
        }

        &__btn {
            text-decoration: none;
            background: b.$white;
            color: b.$deep-blue;
            border-radius: 3rem;
            text-transform: uppercase;
            font-family: b.$font-fraunces;
            margin-left: 4.7rem;
            font-size: 1.5rem;
            font-weight: b.$fw-700;
            width: 14rem;
            height: 5.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 2.5rem;
        }
    }

    &__heading {
        color: b.$white;
        font-size: 5.6rem;
        font-weight: b.$fw-900;
        letter-spacing: .875rem;
        line-height: 6.9rem;
        font-family: b.$font-fraunces;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 8rem;
    }

    &__img {
        display: flex;
        justify-content: center;

         img {
             width: 3rem;
             height: 10.7rem;
         }
    }
    
}

.transform {
    @include l.grid-6;

    .box {
        height: 60rem;
        background-repeat: no-repeat;
        background-size: cover;
        &__center {
            width: 44.5rem;

            &__header {
                font-family: b.$font-fraunces;
                font-weight: b.$fw-900;
                font-size: 4rem;
                line-height: 4.932rem;
                color: b.$deep-blue;
                margin-bottom: 3.2rem;
                letter-spacing: -.29px;
            }

            &__info {
                font-family: b.$font-barlow;
                font-weight: b.$fw-600;
                font-size: 1.8rem;
                line-height: 3rem;
                color: b.$grayish-blue;
                letter-spacing: -.13px;
                margin-bottom: 4rem;
            }

            &__link {
                font-family: b.$font-fraunces;
                font-weight: 900;
                font-size: 1.5rem;
                letter-spacing: 1px;
                color: b.$deep-blue;
                text-transform: uppercase;
                text-decoration: underline;
                text-decoration-thickness: 2px;
            }
        }

        &__bottom {
            width: 33.9rem;
            height: 14.3rem;
            text-align: center;

            &__header {
                font-family: b.$font-fraunces;
                font-weight: b.$fw-900;
                font-size: 2.8rem;
                line-height: 3.452rem;
                margin-bottom: 3.2rem;
                letter-spacing: -.2px;
            }

            &__info {
                font-family: b.$font-barlow;
                font-weight: b.$fw-600;
                font-size: 1.6rem;
                line-height: 2.7rem;
                letter-spacing: -.11px;
            }
        }

        &--1, &--4 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--1 .box__center__link {
            text-decoration-color: b.$yellow;
        }

        &--4 .box__center__link {
            text-decoration-color: b.$soft-red;
        }

        &--5, &--6 {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 5.9rem;
        }

        &--2 {
            background-image: url(../images/desktop/image-transform.jpg);
        }

        &--3 {
            background-image: url(../images/desktop/image-stand-out.jpg);
        }

        &--5 {
            background-image: url(../images/desktop/image-graphic-design.jpg);

            .box__bottom {
    
                &__header {
                    color: b.$cyan;
                }
    
                &__info {
                    color: b.$dark-cyan;
                }
            }
        }

        &--6 {
            background-image: url(../images/desktop/image-photography.jpg);

            .box__bottom {
    
                &__header {
                    color: #052C3B;
                    opacity: .75;
                }
    
                &__info {
                    color: b.$dark-blue;
                }
            }
        }
    }
}

.testimonials {
    padding: 16rem 0;
    display: flex;
    flex-direction: column;

    &__heading {
        color: b.$gray-blue;
        font-weight: b.$fw-900;
        font-family: b.$font-fraunces;
        font-size: 2rem;
        line-height: 2.466rem;
        letter-spacing: .5rem;
        text-align: center;
        margin-bottom: 8.1rem;
        text-transform: uppercase;
    }

    .wrapper {
        width: 111rem;
        align-self: center;
        @include l.grid-3;
    }

    .testimonial {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__avatar {
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            align-self: center;
        }

        &__info {
            margin: 5.8rem 0 6.9rem;
            font-family: b.$font-barlow;
            font-weight: b.$fw-600;
            font-size: 1.8rem;
            line-height: 3.2rem;
            letter-spacing: -0.13px;
            color: b.$grayest-blue;
        }

        &__profile {
            display: flex;
            flex-direction: column;
        }

        &__name {
            color: b.$deep-blue;
            font-family: b.$font-fraunces;
            font-weight: b.$fw-900;
            font-size: 1.8rem;
            line-height: 2.219rem;
            letter-spacing: -0.13px;
        }

        &__position {
            font-family: b.$font-barlow;
            font-weight: b.$fw-600;
            font-size: 1.4rem;
            line-height: 2.5rem;
            letter-spacing: -0.1px;
            color: b.$gray-blue;
        }
    }
}
